<section class="page-section text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-left text-uppercase text-black">🧑🏻‍💻About Me</h2>
        <hr width="100%" style="color: black">
        <!-- About Section Content-->
        <div class="row">
            <h4 class="col-lg-12 ms-auto text-black">사용자에게 새로운 경험, 보다 나은 삶을 제공하는 프로덕트를 만들고 싶어 개발자의 길을 선택했습니다.</h4>
            <div class="col-lg-12 me-auto"><p class="lead text-black">- 무엇이든 'why' 궁금증을 가지고 접근하여, 결과가 'Y'로 도출되는 것을 좋아합니다.</p></div>
            <div class="col-lg-12 me-auto"><p class="lead text-black">- 지식을 공유하며 구성원들과 함께 성장하는 것을 큰 가치로 여깁니다.</p></div>
            <div class="col-lg-12 me-auto"><p class="lead text-black">- 새로운 것을 두려워하지 않으며, 도전적이고 역동적인 경험을 좋아합니다.</p></div>
        </div>

    </div>
</section>